{% extends 'myapp/base.html' %}
{% block content_block %}
      <div class="container">
            <h1>Please Login</h1>

            <form action="{% url 'myapp:user_login' %}" method="post">
                  {% csrf_token %}
                  <label for="username">Username:</label>
                  <input type="text" name="username" placeholder="Username" required>
                  <p></p>
                  <label for="password">Password:</label>
                  <input type="password" name="password" required>
                  <p></p>
                  <input type="submit" value="Login">

            </form>
      </div>
{% endblock %}