{% extends 'myapp/base.html' %}
{% load static %}


{% block content_block %}
      <div class="container">
            {% if registered %}
                  <h1 class="lead">Thanks for registering!</h1>
            {% else %}
                  <h1 class="display-6">Register Here</h1>
                  <form class="form-control" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                        <input class="btn btn-primary" type="submit" value="Register">
                  </form>
            {% endif %}
      </div>
{% endblock %}